* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    margin: 0;
    display: contents;
    color: #000;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header p.title {
    font-size: 15px;
    color: #333;
}


.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-left {
    float: left;
    width: 50%;
}

.header-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.overlay {
    width: 100%;
    height: 100%;
    opacity: .35;
    background: #111;
    padding: 150px;

}

.banner-title {
    font-family: Raleway;
    font-size: 2.3rem;
    line-height: 1.565;
    margin: 0px;
    color: white;
    text-align: center;

}

.banner-name {
    font-family: Raleway;
    font-weight: 800;
    font-size: 6.4rem;
    color: white;
    margin: 0px;
    text-align: center;

}

.banner-subtitle {
    font-size: 2.5rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
    font-family: Raleway;
    text-shadow: none;
    color: white;
    margin: 0px;
    text-align: center;
}

.social-link {
    text-align: center;
    margin-top: 10px;
}

.social-link a {
    line-height: 33px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    text-align: center;
    color: #2196f3;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
}

.page-header {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    position: relative;
}




.page-header .border-bottom {
    border: 1px solid #2196f3;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.page-header .border-bottom:before {
    left: -70px;
    bottom: 5px;
    height: 1px;
    width: 60px;
    content: "";
    position: absolute;
    background: #2196f3;
}

.page-header .border-bottom:after {
    right: -70px;
    bottom: 5px;
    height: 1px;
    width: 60px;
    content: "";
    position: absolute;
    background: #2196f3;
}

.about-content {
    display: flex;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
    margin-bottom: 20px;
}

.about-content .left {
    width: 35%;
}

.about-content .center {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .right {
    width: 35%;

}

.about-content .person-title,
.about-content .title {
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 48px;
    color: #282528;
    margin: 0;
}

.about-content .bio-text,
.about-content .skill-text {
    font-weight: 100;
    line-height: 24px;
    color: #646464;
}

.about-content .info-list {
    list-style-type: none;
    padding: 0;
    color: #282528;
    font-weight: 600;
    text-transform: capitalize;
}

.about-content .info-list li i {
    color: #2196f3;
    font-size: 24px;
    position: relative;
    top: 5px;
    margin-right: 7px;
    line-height: 37px;
}

.about-content .info-list li {
    color: #282528;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.profile-photo {
    padding-top: 90px;
    text-align: center;
    width: 400px;
    height: 400px;
}

.avartar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 50px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
}

.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;

}

.progress .progress-bar {
    background: #2196f3;
    height: 100%;
}



.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 30px;
}


.grid-container .video h3 {
    margin-top: 0px;
}

.pagination {
    text-align: center;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0 1em 1em -1em rgb(0 0 0 / 25%);
}

.pagination a {
    color: #000;
    background-color: #f5f5f5;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;
    border-radius: 3px;
}

.pagination .active {

    background-color: #2196f3;

}

.pagination a:hover {
    background-color: #2196f3;
}

.form {
    display: flex;
    border: solid #2196f3 2px;
    border-radius: 10px;
    margin-top: 20px;
}

.form .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.form .right {
    width: 60%;
    padding: 15px;
}


.form .left .avartar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 0px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #2196f3;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

input[type=submit] {
    background-color: #6996bb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2196f3;
}

input[type=text]:focus,
select:focus,
textarea:focus {
    border: 2.5px solid #2196f3;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 1em 1em -1em rgb(0 0 0 / 25%);

}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    margin: 10px auto;
    line-height: 40px;
    font-size: 25px;
    color: #065fd4;
    font-family: inherit;
    font-weight: 600;
    padding: 20px;
}

.footer-bottow {
    height: 40px;
}